@import "./../../styles/";
@import "./../../scss/mixins";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 5rem;
  @include query(900px) {
    padding: 4rem;
  }

  @include query(500px) {
    padding: 3rem;
  }

  @include query(400px) {
    padding: 2rem;
  }

  & > h1 {
    color: $primary;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
  }

  & > .bottom {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;

    & > .topRow {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8rem;
      flex-wrap: wrap;

      @include query(650px) {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 8rem;
        row-gap: 2rem;
      }

      @include query(400px) {
        grid-template-columns: auto auto;
      }

      & > div {
        p {
          color: $primary;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 1.3rem;
          padding-bottom: 0.5rem;
        }
        span {
          color: #8a8a8a;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 1.3rem;
        }
      }
    }

    & > .cardInfoContainer {
      display: grid;
      gap: 1rem;
      max-width: 150rem;
      border-bottom: 0.3rem solid #2121211a;
      padding-bottom: 1rem;

      & > h2 {
        color: $primary;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
      }

      & > .bottom {
        display: grid;
        grid-template-columns: auto 1fr;
        max-width: 30rem;
        gap: 1rem;

        & > img {
          padding: 0.5rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }

        & > input {
          outline: none;
          border: none;
          background-color: #d9d9d9;
          padding: 1rem 1.6rem;
          width: 100%;
          border-radius: 0.5rem;
        }
      }
    }

    & > .email {
      display: grid;
      gap: 1rem;
      max-width: 150rem;
      border-bottom: 0.3rem solid #2121211a;
      padding-bottom: 1rem;

      & > h2 {
        color: $primary;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
      }

      & > input {
        outline: none;
        border: none;
        background-color: #d9d9d9;
        padding: 1rem 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
        max-width: 30rem;
      }
    }

    & > .tableContainer {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;

      & > h2 {
        color: $primary;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
      }

      & > .table {
        max-width: 150rem;
        overflow: auto;
        @include custom-scrollbar();

        & > table {
          width: 100%;
          min-width: 70rem;

          border-collapse: collapse;
          border-spacing: 0rem;
          & > thead > tr > th {
            text-align: left;
            font-size: $font-sm;
            color: $primary;
            font-weight: 600;
            font-family: "DM Sans";
            font-style: normal;
            white-space: nowrap;
            padding: 0rem $spacing-unit * 1;
            padding-bottom: $spacing-unit * 3;
            border-bottom: 0.3rem solid #2121211a;
          }
          & > tbody > tr {
            & > td {
              margin-top: 1rem;
              text-align: left;
              font-size: $font-sm;
              color: $primary;
              font-weight: 300;
              font-family: "DM Sans";
              font-style: normal;
              white-space: nowrap;
              padding: $spacing-unit * 3 $spacing-unit * 1;
            }
            & > td:nth-child(3) {
              color: #2d87fd;
            }
          }
        }
      }
    }
  }
}
