@import "./../../styles/";
@import "./../../scss/mixins";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 5rem;
  @include query(900px) {
    padding: 4rem;
  }

  @include query(500px) {
    padding: 3rem;
  }

  @include query(400px) {
    padding: 2rem;
  }

  & > h1 {
    color: $primary;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
  }

  & > .bottom {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;

    & > .form {
      background: #d9d9d9;
      border-radius: 1000rem;
      padding: 1rem 2rem 1rem 2rem;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1.6rem;
      align-items: center;
      max-width: 30rem;
      margin-left: auto;

      & > input {
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
      }
      & > input::placeholder {
        color: #8a8a8a;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
    }

    & > .table {
      max-width: 150rem;
      overflow: auto;
      @include custom-scrollbar();

      & > table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0rem;
        min-width: 70rem;
        & > thead {
          & > tr {
            & > th {
              text-align: left;
              font-size: $font-sm;
              color: $primary;
              font-weight: 600;
              font-family: "Lato";
              font-style: normal;
              white-space: nowrap;
              padding: 0rem $spacing-unit * 3;
              padding-bottom: $spacing-unit * 3;

              &:nth-child(1) {
                width: 25%;
              }
              &:nth-child(2) {
                width: 20%;
              }
              &:nth-child(3) {
                width: 20%;
              }
              &:nth-child(4) {
                width: 25%;
              }
              &:nth-child(5) {
                width: 10%;
              }
            }
          }
        }
        & > tbody {
          & > tr {
            transition: opacity 300ms;
            &:hover {
              opacity: 0.5;
              cursor: pointer;
            }

            & > td {
              text-align: left;
              font-size: $font-sm;
              color: $primary;
              font-weight: 500;
              font-family: "Lato";
              font-style: normal;
              white-space: nowrap;
              padding: $spacing-unit * 3 $spacing-unit * 3;
              &:last-child {
                text-align: right;
                font-size: $font-b;
              }
              &:nth-child(2) {
                color: #6ec4cf;
              }
            }

            &:not(:last-child) {
              & > td {
                border-bottom: 0.2rem solid
                  rgba($color: $tertiary-color, $alpha: 0.2);
              }
            }
          }
        }
      }
    }

    & > .pagination {
      display: grid;
      align-items: center;
      justify-items: center;
      max-width: 150rem;
    }
  }
}
