@import "./../../../styles/";
@import "./../../../scss/mixins";

.bgWrapper {
  background-color: rgba($color: $primary-color, $alpha: 0.2);
  position: fixed;
  inset: 0;
  z-index: 99;
  display: none;
  backdrop-filter: blur(5px);
  display: none;
  @include desktop {
    &.show {
      display: block;
    }
  }
}

.container {
  height: 100%;
  padding: 0 5rem;
  @include query(900px) {
    padding: 0 4rem;
  }
  @include query(500px) {
    padding: 0 3rem;
  }
  @include query(400px) {
    padding: 0 2rem;
  }

  display: none;

  @include query(990px) {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  }

  & > .left {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    & > a {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      & > img {
        width: 15rem;
      }
    }
  }
  & > .right {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    & > button {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 3.5rem;
      cursor: pointer;
    }
  }
}
