@import "./../../scss/variable";
@import "./../../scss/mixins";
@import "./../../styles/";

.login_container {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-image: url("./../../assets/signInContainer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5rem;
  @include respond(sm-phone) {
    padding: 3rem;
  }
  @include respond(xs-phone) {
    padding: 2rem;
  }

  &_box {
    width: 100%;
    max-width: 47rem;
    display: grid;
    gap: 4rem;

    & > h1 {
      color: $primary;
      text-align: center;
    }

    & > form {
      padding: 3rem;
      background-color: $pureWhite;
      border-radius: 0.8rem;
      display: grid;
      gap: 2rem;

      & > div {
        display: grid;
        gap: 1rem;

        & > label {
          font-style: normal;
          font-weight: 400;
          font-size: 1.4rem;
          color: $almostBlack;
          width: 100%;
        }

        & > input {
          width: 100%;
          padding: 1rem 1.6rem;
          background-color: rgba(249, 249, 249, 0.8);
          border: 1.20938px solid #eeeeee;
          border-radius: 0.5rem;
          outline: none;

          &::-webkit-input-placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
          }
        }
      }

      button {
        width: 100%;
        padding: 1rem 1.6rem;
        background-color: #00cbfe;
        color: $pureWhite;
        outline: none;
        border: none;
        border-radius: 0.8rem;
        font-style: normal;
        font-weight: 800;
        font-size: 1.8rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        &:not(:disabled):hover {
          opacity: 0.7;
        }

        &:disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }
      }
    }
  }
}

.buttonLoader {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: #00cbfe;
}
