@import "./../../styles/";
@import "./../../scss/mixins";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding: 5rem;
  @include query(900px) {
    padding: 4rem;
  }

  @include query(500px) {
    padding: 3rem;
  }

  @include query(400px) {
    padding: 2rem;
  }

  & > h1 {
    color: $primary;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
  }

  & > .bottom {
    max-width: 150rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr auto;
    justify-content: start;
    align-items: start;

    & > .left {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      max-width: 120rem;

      & > .table {
        max-width: 150rem;
        overflow: auto;
        @include custom-scrollbar();

        & > table {
          width: 100%;
          min-width: 70rem;

          border-collapse: collapse;
          border-spacing: 0rem;
          & > thead > tr > th {
            text-align: left;
            font-size: $font-sm;
            color: $primary;
            font-weight: 600;
            font-family: "DM Sans";
            font-style: normal;
            white-space: nowrap;
            padding: 0rem $spacing-unit * 1;
          }
          & > tbody > tr {
            & > td {
              margin-top: 1rem;
              text-align: left;
              font-size: $font-sm;
              color: $primary;
              font-weight: 300;
              font-family: "DM Sans";
              font-style: normal;
              white-space: nowrap;
              padding: $spacing-unit * 3 $spacing-unit * 1;
            }
            & > td:nth-child(3) {
              color: #2d87fd;
              text-transform: capitalize;
            }
          }
        }
      }

      & > .pagination {
        display: grid;
        align-items: center;
        justify-items: center;
        max-width: 150rem;
      }
    }
  }
}

.inviteForm {
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  display: grid;
  gap: 2rem;
  width: 90vw;
  max-width: 32rem;

  @include query(900px) {
    max-width: 40rem;
  }

  & > .formInput {
    display: grid;
    gap: 1rem;

    & > h2 {
      color: $primary;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
    }

    & > div {
      display: grid;
      gap: 0.7rem;

      & > .input {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        background-color: #eee;
        align-items: center;
        padding: 1rem 1.6rem;

        & > svg {
          font-size: 1.3rem;
          color: #2b4465;
        }

        & > input {
          width: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          font-family: "DM Sans";
        }
      }

      & > p {
        font-size: 1rem;
        color: red;
        font-weight: 500;
        font-family: "Roboto";
      }

      & > label {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;
        align-items: center;
        cursor: pointer;

        & > span {
          font-size: 1.2rem;
          color: $primary;
          font-family: "DM Sans";
        }
      }
    }
  }

  & > button {
    margin-top: 0.2rem;
    padding: 1rem 8rem;
    outline: none;
    background-color: #00cbfe;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
  }
}

.modal {
  display: grid;
  align-items: center;
  justify-content: center;
}

.floating {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $primary;
  position: fixed;
  top: 10rem;
  right: 0;
  padding: 1.4rem 2rem;
  border-radius: 100rem 0 0 100rem;
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
