@import "./../../styles/";
@import "./../../scss/mixins";
@import "./../../scss/variable";

.container {
  min-height: 100vh;
  min-height: 100svh;

  background-image: url("./../../assets/settingBackgroundImage.svg");
  background-repeat: no-repeat;
  background-position: center center;

  display: grid;
  align-items: center;
  justify-content: center;

  padding: 5rem;
  @include query(990px) {
    min-height: calc(100vh - 8.48rem);
    min-height: calc(100svh - 8.48rem);
  }

  @include query(900px) {
    padding: 4rem;
  }

  @include query(500px) {
    padding: 3rem;
  }

  @include query(400px) {
    padding: 2rem;
  }

  & > div {
    display: grid;
    gap: 2rem;
    max-width: 40rem;

    & > div {
      display: grid;
      gap: 1rem;
      & > h1 {
        color: $primary;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
      }
      & > p {
        color: $primary;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 1.4rem;
        text-align: center;
      }
    }

    & > .bottom {
      width: 100%;
      max-width: 90vw;
      border-radius: 1rem;
      padding: 2rem;
      background-color: $pureWhite;
      display: grid;
      gap: 2.5rem;

      & > .otp {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        justify-items: center;

        & > .top {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          align-items: center;
          justify-items: center;

          & > h3 {
            color: $primary;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            text-align: center;
          }
          & > p {
            color: $primary;
            font-family: "DM Sans";
            font-style: normal;
            font-size: 1.4rem;
            text-align: center;
          }
        }
      }

      & > .inputs {
        display: grid;
        gap: 2rem;

        & > div {
          display: grid;
          gap: 1rem;

          & > label {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            color: #111111;
          }

          & > input {
            width: 100%;
            padding: 0.8rem 1.6rem;
            background-color: rgba(249, 249, 249, 0.8);
            border: 0.1rem solid #eeeeee;
            border-radius: 0.5rem;
            outline: none;

            &::-webkit-input-placeholder {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 1.2rem;
            }
          }

          & > p {
            color: red;
            font-weight: 500;
            font-family: "Roboto";
            font-size: 1.2rem;
          }
        }
      }

      & > .buttons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        & > button {
          width: 100%;
          background-color: #4edafc;
          outline: none;
          border: none;
          padding: 1rem 0rem;
          border-radius: 1rem;
          color: white;
          font-family: "Lato";
          font-style: normal;
          font-weight: 800;
          font-size: 1.5rem;
          @include respond(tab-port) {
            width: 30rem;
          }
          cursor: pointer;
        }
      }
    }
  }
}
